.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

/* label */
#labeldes {
  color: white;
  padding: 8px;
  background-color: rgb(253, 89, 24);
  border-radius: 10%;
  align-items: left;
  display: block;
  text-align: left;
  width: 120px;
}

#infolabel {
  color: white;
  padding: 8px;
  background-color: rgb(253, 89, 24);
  border-radius: 10%;
  align-items: left;
  display: block;
  text-align: left;
  width: 120px;
}

#addparticipant {
  color: rgb(27, 27, 27);
  padding: 8px;
  background-color: rgb(204, 204, 204);
  border-radius: 10%;
  align-items: left;
  display: block;
  text-align: left;
  width: 160px;
  float: right;
  margin-right: 25px;
}

#searchbydetails {
  border-radius: 15%;
  align-items: left;
  display: block;
  padding: 6px;
  padding-left: 15px;
  padding-right: 30px;
}

#gender{
  border-radius: 15%;
  align-items: left;
  display: block;
  padding: 6px;
  padding-left: 15px;
  padding-right: 30px;
  width: 48%;
}

#tfg{
  border-radius: 15%;
  align-items: left;
  display: block;
  padding: 6px;
  padding-left: 15px;
  padding-right: 30px;
  width: 100%;
}

#address{
  border-radius: 15%;
  align-items: left;
  display: block;
  padding: 6px;
  padding-left: 15px;
  padding-right: 30px;
   height:200%;
}
.search {
  width: 25%;
}

input[type="text"] {
  border-radius: 15%;
  align-items: left;
  display: block;
  padding: 6px;
  padding-left: 15px;
  padding-right: 30px;
}
.personaltable {
  width: 50%;
  margin-top: 20px;
  position: absolute;
  top: 75px;
  z-index: 5;
  height: 250px;
  align-content: center;
  margin-left: 65px;
   
}

 

/* Fixed scrollable table */
#table-wrapper {
  position: relative;
}

#table-scroll {
  height: 450px;
  overflow: auto;
  margin-top: 20px;
}

#table-wrapper table {
  width: 100%;
}

#table-wrapper table * {
  background: rgb(255, 255, 255);
  color: black;
}

#table-wrapper table thead th .text {
  position: absolute;
  top: -20px;
  z-index: 2;
  height: 20px;
  width: 35%;
  border: 1px solid red;
}
